body {
    background-color: #f0dada;
}
h1 {
    color: #9b0b0b;
    font-size: 2em;
    text-align: center;
    font-family: Arial, Helvetica, serif;
}
h2 {
    color: #9b0b0b;
    font-size: 1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    color: #9b0b0b;
    font-size: 1.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    border: 1px solid #9b0b0b;
    border-radius: 5px;
    width: 40%;
    height: auto;
}
div{
    text-align: center;
}
p {
    color: #0a0a0a;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: #9b0b0b;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

table, th, td {
    color: #0a0a0a;
    border: #df6363 1px solid;
    border-radius: 5px;
    border-collapse: collapse;
    width: 50%;
    margin: 20px 0;
}
th{
  background-color: #e79595;
}

td{
  background-color: #e9aeae;
}   
hr {
    width: 100%;
    height: 1px;
    background-color: #9b0b0b;
}