        /* CSS para a atividade */
        * { 
            box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho dos elementos */
        }

        body { 
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif; /* Fonte padrão para melhor legibilidade */
        }
        header { 
            background-color: #bc1a1a; 
            color: white; 
            text-align: center;
            padding: 30px 0px;
        }
         
        nav { 
            background-color: black; 
            color: white; 
            display: flex; /* Layout flexível para navegação */
            position: sticky; /* Mantém o menu fixo no topo ao rolar */
            top: 0;
            bottom: 0;
        }
        nav a { 
            color: white; 
            text-decoration: none;
            padding: 14px 16px;
        }
        nav a:hover { 
            background-color: #ddd; 
            color: white;
        }
        main { 
            display: flex; /* Layout flexível para o conteúdo principal */
            padding: 0; 
        }
        aside {
            flex: 30%; /* Ocupa 30% do espaço horizontal */
            background-color: #f1f1f1;
            padding: 10px;
            margin: 0px;
        }
        aside img {
            padding: 5px;
            height: 200px;
        }
        content {
            flex: 70%; /* Ocupa 70% do espaço horizontal */
            padding: 10px;
        }
        footer { 
            background-color: #ddd; 
            color: black; 
            text-align: center;
            padding: 10px 0; 
            margin: 0; 
            width: 100%;
        }
        button {
            background-color: #fffdfd;
            border: 5px solid #dddddda2;
            padding: 10px 20px;
            cursor: pointer;
            margin: 0px 4px;
            border-radius: 10px; /* Bordas arredondadas para o botão */
        }
        button:hover {
            background-color: #ddd;
        }
        button:active {
            background-color: #ccc;
        }
        @media screen and (max-width: 500px) {
            nav, main{
            flex-direction: column; /* Layout vertical em telas pequenas */
            align-items: center;
            }
            content, aside { 
            width: 100%; /* Ocupa toda a largura em telas pequenas */
            }
            button {
            margin-left: 0px;
            width: 40px;
            } 
        }